:root {
  --blue: #283BE6;
  --red: #FE4626;
  --purple: #8558F9;
  --green: #5AA852;
  --yellow: #F7DE93;

  --white: #FFFFFF;
  --black: #000000;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

button {
  border: none;  /* Fjerner default border */
  outline: none; /* Fjerner outline ved fokus */
}

/* For the page flip effect */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

/* Print styles */
@media print {
  .no-print {
    display: none !important;
  }

  body {
    background-color: var(--white);
  }

  button {
    display: none !important;
  }
}

.page-container {
  max-width: 1600px;
  margin: auto;
}