.header {
    height: 2.5rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
  
  }
  
  .left-container-header {
    width: 33%;
    height: 100%;
    font-size: 20px;
    padding-left: 1rem;
  }
  
  .header-title {
      color: var(--white);
      font-size: 2rem;
      font-style: italic;
      font-weight: 900;
      letter-spacing: -0.06em;
      width: 100%;
      transform: skewX(-12deg);
  }
  
  .btn-container {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .header-btn {
    color: var(--white);
    font-size: 1rem;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.06em;
    width: 100%;
    transform: skewX(-12deg);
    background-color: var(--nothing);
    display: flex;           
    justify-content: center; 
    align-items: center;     
  }
  
  .header-btn p {
    margin: 0;
  }

  .header-btn p:hover {
    color: var(--white-hover);
  }
  
  .vikings-container {
    flex: 1;
    text-align: right;
    width: 100%;
    height: 2.5rem;
  }

  .vikings {
    font-size: 1.5rem;
  }

  .backround-header {
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    z-index: -1; /* Plasserer bakgrunnen bak innholdet */
  }