.header {
    height: 2.5rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
  
  }
  
  .left-container-header {
    width: 33%;
    height: 100%;
    font-size: 20px;
    padding-left: 1rem;
  }
  
  .header-title {
      color: #ffffff;
      font-size: 2rem;
      font-style: italic;
      font-weight: 900;
      letter-spacing: -0.06em;
      width: 100%;
      transform: skewX(-12deg);
  }
  
  .btn-container {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .header-btn {
    color: #ffffff;
      font-size: clamp(16px, 1.5vw, 120px);
      font-style: italic;
      font-weight: 900;
      letter-spacing: -0.06em;
      width: 100%;
      transform: skewX(-12deg);
      background-color: #00000000;
  }
  
  .header-btn:hover {
    background-color: #0000003c;
  }
  
  .vikings-container {
    flex: 1;
    text-align: right;
  }